#docmd-container {

}

#guide-toc-toggle {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

/*
    Navigation
*/
#navigation-container {
    position: relative;
}

#navigation {
    background-color: white;
    z-index: 1;
    position: fixed;
    overflow: auto;
}


/*
    Multiple Guide Links
*/
.docmd-selected-guide {
    font-weight: bold;
}

/*
    Table of Contents
*/

.docmd-toc-list {
    list-style-type: none;
}


/*
    Main Guide Content
*/
#main {
    position: relative;
    border-left: 1px solid #dddddd;
}

#main-icon {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
}