#docmd-container {
    max-width: 1080px;
}

#guide-toc-toggle {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 2;
}

/*
    Navigation
*/
#navigation-container {
    position: relative;
    display: inline-block;
    width: 350px;
}

#navigation {
    background-color: white;
    z-index: 1;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;

    transition-property: left;
    transition-duration: 1s;
    transition-timing-function: ease;
    -webkit-transition-property: left;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
}


/*
    Multiple Guide Links
*/
.docmd-selected-guide {
    font-weight: bold;
}

.docmd-guide-icon {
    position: relative;
    display: inline-block;
}

.docmd-guide-title {
    display: inline-block;
    margin-left: 5px;
}

/*
    Table of Contents
*/

.docmd-toc-list {
    list-style-type: none;
}


/*
    Main Guide Content
*/
#main {
    position: relative;
    display: inline-block;
    max-width: 729px;
    border-left: 1px solid #dddddd;
}

#main-brand-icon {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}