<!DOCTYPE html>
html(lang="en")
   head
      meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
      title
         = title
      link(rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css")
      style
         include css/main.css
      link(rel="stylesheet" href="lib/user.css")

   body

      div.container-fluid
         div#docmd-content.row

            div#guide-toc-toggle.btn.btn-default.hidden-md.hidden-lg(
               data-toggle="collapse" data-target="#navigation")
               span.glyphicon.glyphicon-th-list


            div#navigation-container.col-md-3.col-xs-12
               div#navigation
                  div#docmd-guides
                     h3.docmd-guide-title Guides
                     != content.guideLinks
                  div#docmd-toc
                     h3.docmd-toc-title Table of Contents
                     != content.toc
            div#main.col-md-9.col-xs-12
               img#main-brand-icon(src=content.brandIcon )
               != content.main



      script(src="lib/jquery/dist/jquery.min.js")
      script(src="lib/bootstrap/dist/js/bootstrap.min.js")
      script
         include js/main.js
      script(src="lib/user.js")
