<!DOCTYPE html>
html(lang="en")
   head
      meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
      title
         = title
      style
         include lib/lib.css
   body
      div
         != content.main
      div#toc
         != content.toc
      script
         include lib/lib.js