<!DOCTYPE html>
html(lang="en")
   head
      meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
      title
         = title
      style
         include lib/lib.min.css
         include css/main.css
         include lib/user.css
   body
      div#toc
         h1 Table of Contents
         ul.docmd-toc-list
            != content.toc
      div#main
         != content.main



      script
         include lib/lib.min.js
         include js/main.js